.bar {
  fill: rgb(136, 132, 216);
  fill-opacity: 0.6;
}

.area {
  fill: rgb(136, 132, 216);
  fill-opacity: 0.6;
  stroke-linecap:round;
  stroke-linehoin: round;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  stroke: #000;
  shape-rendering: crispEdges;
}

.arc text {
  font: 10px sans-serif;
  fill: #fff;
  text-anchor: middle;
}
