.AreaChart, .LineChart, .ScatterPlot, .BarChart{
  /*z-index: 10;*/
  position: absolute;
}
.plane{
  display: inline-block;
}
/* Chart Start*/
.XYAxis{
  z-index:1;
  position: relative;
}

.XYC{
  display: inline-block;
}

.axis path,
.axis line{
  fill: none;
  stroke: rgb(102, 102, 102);
}

.axis text {
  font-size: 12px;
  fill: rgb(102, 102, 102)
}

.tick text{
  font-size: 12px;
  fill: rgb(102, 102, 102);
}

.tick line{
  opacity: 0.2;
  stroke: rgb(102, 102, 102);
  /*stroke-dasharray: 3,3;*/
}

/* Chart  End*/

/* BarChart Start */

.bar {
  fill: rgb(136, 132, 216);
  fill-opacity: 0.6;
}

/* BarChart End */

/* AreaChart Start */
.area {
  stroke-linecap:round;
  stroke-linehoin: round;
}
/* AreaChart End */

/* LineChart Start */

.circle{
  fill: rgb(255, 255, 255);
  stroke: rgb(136, 132, 216);
}

.line{
  fill: none;
  stroke: #ffc952;
  stroke-width: 2px;
}
/* LineChart End */

/* PieChart Start */
.PieChart{
  display:inline-block;
}
.arc text {
  font: 10px sans-serif;
  fill: #fff;
  text-anchor: middle;
}

/*.area {
  fill: rgb(136, 132, 216);
  stroke-width: 0;
}*/

/* PieChart End */

/* TreeMap */
.node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

/* TreeMap End */


/* Radar */
  .RadarChart{
    display: block;
  }
/* Radar End */
